In [1]:
# 문제 출처 https://www.datamanim.com/dataset/03_dataq/pandas_practice.html
import pandas as pd
#유튜브 데일리 인기 동영상
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)

In [13]:
#1. 인기 동영상 제작횟수 많은 상위 10개 채널
df['channelTitle'].value_counts().sort_values(ascending=False)[:10]

짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
Name: channelTitle, dtype: int64

In [20]:
#2. 논란으로 인기동영상 된거 찾기위해 dislike>like인 채널 출력
print(list(df.loc[df['likes']<df['dislikes']]['channelTitle'].unique()))

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

In [84]:
#3. 채널 명을 바꾼 케이스 있는지 확인해봐
df['channelId'].value_counts()

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
                           ...
UCj00eA-Q0lokXCA6JAa_grw      1
UCdtY7-_h-KgBTXHJfTk8wwQ      1
UCESC_GRUe4Z7-OOxk_AWm5Q      1
UCGuE0TrBNIZKfordUwAQe2w      1
UCNh_yWrspnQbZDZijQFyjbw      1
Name: channelId, Length: 1770, dtype: int64

In [98]:
#4. 일요일 가장 많이 본 카테고리
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[df['trending_date2'].dt.day_name() == "Sunday"]['categoryId'].value_counts().head(1)

24    3096
Name: categoryId, dtype: int64

In [119]:
#5.각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
#df['요일'] = df['trending_date2'].dt.day_name()
df.groupby(["categoryId","요일"],as_index =False).size().pivot(index='categoryId',columns="요일")

             size
요일         Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1             243    263      255    274      246     257       234
2             120    105      119     99      128     119       129
10            833    837      776    830      890     894       917
15            187    215      198    217      207     208       207
17            633    668      592    636      682     708       706
19             90     92       87     91       92      89        85
20            283    298      296    289      282     285       291
22           1288   1373     1289   1337     1341    1375      1333
23            568    594      570    556      560     569       566
24           2976   3148     3066   3096     2954    3084      3090
25            444    453      422    437      470     452       468
26            369    378      364    363      375     394       385
27            183    205      183    199      194     194       212
28            171    160      173    167      166     161       165
29             12     10       10      9       13      11        12

In [133]:
#6 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. 
# viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

new_df = df[df.view_count !=0]
new_df['rank'] = new_df['comment_count']/new_df['view_count']
new_df[new_df['rank'] == new_df['rank'].max()]

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,요일,rank
50830,"60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)",팩토리,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,Thursday,0.161516

In [139]:
#7. viewcount대비 comment_count낮은 영상 찾아라
new_df[new_df['rank'] == new_df[new_df['rank']!=0]['rank'].min()]['title']

46005    Join the BTS #PermissiontoDance Challenge only...
Name: title, dtype: object

In [146]:
#8. like대비 dislike가 적은 영상은 무엇인가?
new_df = df[(df['likes'] != 0) & (df['dislikes'] != 0 )]
new_df['rank'] = new_df['dislikes']/new_df['likes']
new_df[new_df['rank'] == new_df['rank'].min()]['title']

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11477    [줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가...
Name: title, dtype: object

In [153]:
#9. 가장 많은 트렌드 영상 제작한 채널의 이름은 무엇인가?

In [161]:
#10. 20일이상 인기동영상 리스트에 포함되었던 동영상의 숫자는?
sum(df.groupby("title").count()['trending_date2']>=20)

41

In [162]:
#유튜브 "공범" 컨텐츠 동영상 정보 10분간격
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [169]:
#1. video데이터 videoname 마다 각 몇개의 데이터씩 가지고있는지 확인
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [212]:
#2 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라
target =video.sort_values(['videoname','ct'],ascending = False).drop_duplicates("videoname")
target[['viewcnt','ct','videoname']]

       viewcnt                  ct videoname
15200  1289088 2021-11-01 15:30:05    공범 EP8
13660  1630200 2021-11-01 15:30:05    공범 EP7
14934  1750222 2021-11-01 15:30:04    공범 EP6
13105  1503435 2021-11-01 15:30:04    공범 EP5
11543  1818493 2021-11-01 15:30:03    공범 EP4
9263   1671294 2021-11-01 15:30:03    공범 EP3
6695   2199328 2021-11-01 15:30:03    공범 EP2
3491   3180532 2021-11-01 15:30:03    공범 EP1

In [217]:
#2. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라
#sort_value 후 drop_duplicate하는 방식을 많이쓰네

,channelid,subcnt,viewcnt,videocnt,ct,channelname
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,꽈뚜룹
17,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 09:01:05,꽈뚜룹
18,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 15:01:05,꽈뚜룹
19,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 21:01:04,꽈뚜룹
20,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-05 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [222]:
#3.각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라
time_interval = [datetime.datetime(2021,10,3,3),datetime.datetime(2021,11,1,15)]
time_interval

In [175]:
#4. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 
# 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [176]:
#5. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [177]:
#6. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 
# 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [178]:
#7. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 
# videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [179]:
#8. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [ ]:
#9. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라