In [11]:
import pandas as pd

In [12]:
bio_word = pd.read_csv("counting/bio.csv")

In [13]:
car_word = pd.read_csv("counting/car.csv")

In [14]:
game_word = pd.read_csv("counting/game.csv")
semi_word = pd.read_csv("counting/semi.csv")
gas_wrod = pd.read_csv("counting/gas.csv")

In [15]:
bio_word['Target'] = 0
car_word['Target'] = 1
game_word['Target'] = 2
semi_word['Target'] = 3
gas_wrod['Target'] = 4

gas_wrod.drop(columns="Unnamed: 0", inplace=True)
car_word.drop(columns="Unnamed: 0", inplace=True)
game_word.drop(columns="Unnamed: 0", inplace=True)
semi_word.drop(columns="Unnamed: 0", inplace=True)
bio_word.drop(columns="Unnamed: 0", inplace=True)

result = pd.concat([bio_word,car_word])
result = pd.concat([result,game_word])
result = pd.concat([result,semi_word])
result = pd.concat([result,gas_wrod])

result.fillna(0,inplace=True)
before_columns = result.columns.difference(["Target","date"])
result['Target'].reset_index(drop=True,inplace=True)

In [16]:
result.fillna(0,inplace=True)
columns = list(result.columns.values)
columns.remove("date")
columns.remove("Target")
result.reset_index(drop=True,inplace=True)

# word_frame = result[columns]
# word_frame = word_frame.astype(int)
# for idx in word_frame.index:
#     for col in columns:
#         val = word_frame.at[idx,col]
#         if val == 0:
#             word_frame.at[idx,col] = 0
#         else:
#             word_frame.at[idx,col] = 1

In [17]:
from sklearn.feature_selection import mutual_info_classif
# 0 is bio 1 is car 2 is game 3 is semi 4 is gas

X = result[before_columns]
y = result["Target"]
mu = mutual_info_classif(X, y)

In [18]:
new_final_result = pd.DataFrame(index = before_columns )
new_final_result["Word"] = before_columns.values
new_final_result["MI_value"] = mu
new_final_result

      Word  MI_value
aa      aa  0.000000
aaa    aaa  0.000000
aaaa  aaaa  0.012597
aacr  aacr  0.005616
aai    aai  0.000000
...    ...       ...
힛탠다드  힛탠다드  0.000000
金地金    金地金  0.012570
流水      流水  0.000000
利馬      利馬  0.002303
李峰      李峰  0.000000

[89959 rows x 2 columns]

In [19]:
new_final_result.reset_index(drop=True,inplace=True)

In [23]:
new_final_result.to_csv("Whole_MI_result.csv")

In [22]:
new_final_result.sort_values("MI_value", ascending = False)

         Word  MI_value
62563     자동차  0.631439
64760     전기차  0.609013
11358     관계자  0.524927
87251     현대차  0.520481
80320     판매량  0.504826
...       ...       ...
41082    세부요건  0.000000
41085    세부트랙  0.000000
41086  세부품목기준  0.000000
41089      세븐  0.000000
89958      李峰  0.000000

[89959 rows x 2 columns]

In [42]:
result[result["Target"]==0].sum()
result.columns.values

array(['date', '감염병', '일자리', ..., 'ikea', '수소발전', '수소항'], dtype=object)

In [45]:
# 0 is bio 1 is car 2 is game 3 is semi 4 is gas
bio_word_sum = result[result["Target"]==0].sum().values
car_word_sum = result[result["Target"]==1].sum().values
game_word_sum = result[result["Target"]==2].sum().values
semi_word_sum = result[result["Target"]==3].sum().values
gas_word_sum = result[result["Target"]==4].sum().values

word_sum_data = pd.DataFrame(index = result.columns.values)
word_sum_data["Bio"] = bio_word_sum
word_sum_data["Car"] = car_word_sum
word_sum_data["Game"] = game_word_sum
word_sum_data["Semi"] = semi_word_sum
word_sum_data["Gas"] = gas_word_sum

In [49]:
word_sum_data = word_sum_data.transpose()
word_sum_data.drop(columns="date",inplace=True)
word_sum_data.to_csv("word_sum_data.csv")

In [59]:
word_sum_data["Target"] = word_sum_data.index

In [80]:
A = list(word_sum_data.columns.values)
Target_column_locate = A.index("Target")
word_list = [list(word_sum_data.columns[:Target_column_locate].values)]+[list(word_sum_data.columns[Target_column_locate+1:].values)]+[list(word_sum_data.columns[Target_column_locate])]

In [85]:
word_sum_data[word_list[0]].columns

Index(['감염병', '일자리', '영상편집', '셀트리온', '공모주', 'ipo', '투자자', '투자자들', '명신산업',
       '치료제',
       ...
       '첨복', '인기상', '학생팀', '수상작', '용인대', '한국고용정보원', '에드윈', '그린라이트', '인천시장',
       '블루보틀'],
      dtype='object', length=18074)

In [218]:
Top100_count_include.to_csv("Top100_count_include.csv")

In [95]:
new_result = pd.concat([bio_word,car_word])
new_result = pd.concat([new_result,game_word])
new_result = pd.concat([new_result,semi_word])
new_result = pd.concat([new_result,gas_wrod])

A = new_result[new_result['Target']==4]
A.fillna(0,inplace=True)

for idx in A.index:
    for col in A.columns.difference(columns+['Target','date']):
        val = A.at[idx,col]
        if val == 0:
            A.at[idx,col] = 0
        else:
            A.at[idx,col] = 1

In [111]:
word_frame.drop(index=A.index,inplace=True)

In [130]:
B = pd.concat([word_frame,A])
B.fillna(0,inplace=True)

In [133]:
B = B.astype(int)

In [139]:
B.columns.difference(["Target","date"])

Index(['aa', 'aaa', 'aaaa', 'aacr', 'aai', 'aam', 'aao', 'aatb', 'aav', 'aaww',
       ...
       '힙플', '힙플레이스', '힙한', '힙합', '힙합랩', '힛탠다드', '金地金', '流水', '利馬', '李峰'],
      dtype='object', length=89960)

In [197]:
Top100 = final_result.sort_values("MI_value", ascending = False).head(100)

In [198]:
Top100.to_csv("Top100_after_change_binary.csv")

In [199]:
Top100

      Columns  MI_value
31520      배럴  0.157348
74164     치료제  0.113746
44864    스타트업  0.109822
72204    천연가스  0.107111
66942     제약사  0.100544
...       ...       ...
71854     창업자  0.043971
34487      북미  0.043913
81185     편의점  0.043815
36738     사업부  0.043411
27535      모더  0.043357

[100 rows x 2 columns]