In [23]:
import requests
import pandas as pd
import datetime
from bs4 import BeautifulSoup

In [49]:
url = "https://finance.naver.com/sise/sise_group.naver?type=upjong"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'lxml')
soup = soup.find(class_="type_1").findAll('a')

In [52]:
page_num = [] # for finding stock name
industry_name = []
for i in range(len(soup)):
    if soup[i].string != "기타" and soup[i].string !="창업투자": # not need '기타' category because that have futures(선물) 
        page_num.append(soup[i].get("href"))
        industry_name.append(soup[i].string)

In [53]:
classfied_stock = {}
whole_stock_name = []
for i in range(len(page_num)):
    res = requests.get("https://finance.naver.com/" + page_num[i])
    soup = BeautifulSoup(res.text,'lxml')
    soup = soup.find('tbody').find_all('a')
    for j in range(len(soup)):
        stock_name = soup[j].getText()
        if stock_name != "":
            classfied_stock[stock_name] = industry_name[i]
            whole_stock_name.append(stock_name)

In [54]:
classfied_stock = pd.DataFrame(list(classfied_stock.items()),columns=['Stock_Name', 'Sectors'])
stock_code = pd.read_csv("stock_code.csv",encoding='CP949')
stock_code = stock_code[['단축코드','한글 종목약명']]
stock_code = stock_code[stock_code['한글 종목약명'].isin(whole_stock_name)]
stock_code = stock_code.rename(columns = {'한글 종목약명':'Stock_Name'})

classified_stock = classfied_stock.merge(stock_code,on='Stock_Name')

In [55]:
classified_stock

     Stock_Name Sectors    단축코드
0         삼성출판사     문구류  068290
1           양지사     문구류  030960
2           모나미     문구류  005360
3            파수   소프트웨어  150900
4        이스트소프트   소프트웨어  047560
...         ...     ...     ...
2368      세우글로벌    판매업체  013000
2369         YW    판매업체  051390
2370     대명소노시즌    판매업체  007720
2371        큐렉소    판매업체  060280
2372       서울옥션    판매업체  063170

[2373 rows x 3 columns]

In [299]:
stock_price = None
sector_first = None
headers = {'User-Agent' : 'My_header'}
sectors  = list(classified_stock['Sectors'].unique())
stock_name = classified_stock.loc[classified_stock['Sectors']==sectors[0]]['단축코드']

#for code in stock_name:
for code in stock_name:
    for page_num in range(1,20):
        url = "https://finance.naver.com/item/sise_day.naver?code="+code+"&page="+str(page_num)
        req = requests.get(url,headers =headers)
        stock_price = pd.concat([stock_price,pd.read_html(req.text,encoding = 'euc-kr')[0]])

    stock_price.dropna(inplace = True)

    fluctuation_list = []
    for i in range(0,len(stock_price)-1):
        present = stock_price['종가'].values[i]
        previous = stock_price['종가'].values[i+1]
        if(present>previous):
            fluctuation = round(stock_price['전일비'].values[i]*100/present,2)
            fluctuation_list.append(fluctuation)
        else:
            fluctuation = round(0-(stock_price['전일비'].values[i]*100/present),2)
            fluctuation_list.append(fluctuation)

    fluctuation_list.append(0)

    stock_price['변동률'] = fluctuation_list
    if code == stock_name[0]:
        sector_first = stock_price[['날짜','거래량','변동률']]
    else:
        sector_first['변동률'] = sector_first['변동률'].values+stock_price['변동률'].values
        sector_first['거래량'] = sector_first['거래량'].values+stock_price['거래량'].values

In [301]:
sector_first["거래량"] = sector_first["거래량"]/len(stock_name)
sector_first["변동률"] = sector_first["변동률"]/len(stock_name)

In [308]:
sector_first

            날짜         거래량   변동률
1   2021.10.29  15127397.0  8.44
2   2021.10.28   5859807.0 -7.37
3   2021.10.27   5731854.0 -1.29
4   2021.10.26  24936914.0  2.97
5   2021.10.25   6483515.0  0.87
..         ...         ...   ...
9   2021.01.28   2018251.0 -3.40
10  2021.01.27   1705172.0 -3.29
11  2021.01.26   2688047.0 -0.71
12  2021.01.25   1967641.0 -0.59
13  2021.01.22   4717275.0  0.00

[190 rows x 3 columns]

In [28]:
sectors  = list(classified_stock['Sectors'].unique())
stock_name = classified_stock.loc[classified_stock['Sectors']==sectors[0]]['단축코드']
test = None
test_list =[]
stock_price = None

for code in stock_name:
    url = "https://finance.naver.com/item/sise_day.naver?code="+code+"&page="+str(1)
    req = requests.get(url,headers =headers)
    stock_price = pd.concat([stock_price,pd.read_html(req.text,encoding = 'euc-kr')[0]])
    
    stock_price.dropna(inplace = True)
    
    fluctuation_list = []
    for i in range(0,len(stock_price)-1):
        present = stock_price['종가'].values[i]
        previous = stock_price['종가'].values[i+1]
        if(present>previous):
            fluctuation = round(stock_price['전일비'].values[i]*100/present,2)
            fluctuation_list.append(fluctuation)
        else:
            fluctuation = round(0-(stock_price['전일비'].values[i]*100/present),2)
            fluctuation_list.append(fluctuation)

    fluctuation_list.append(0)
    
    stock_price['변동률'] = fluctuation_list
    test_list.append(fluctuation_list)
    
    if code == stock_name[0]:
        test = stock_price[['날짜','거래량','변동률']]
    else:
        test['변동률'] = test['변동률'].values+stock_price['변동률'].values
        test['거래량'] = test['거래량'].values+stock_price['거래량'].values
    stock_price = None

In [32]:
test['거래량'] = test['거래량']/len(stock_name)
test['변동률'] = test['변동률']/len(stock_name)

In [34]:
test['변동률'].describe()

count    10.000000
mean     -0.053978
std       0.668755
min      -1.078889
25%      -0.478056
50%      -0.024000
75%       0.384889
max       1.109778
Name: 변동률, dtype: float64

In [35]:
classified_stock.loc[classified_stock['Sectors']==sectors[0]]

   Stock_Name Sectors    단축코드
0       한일시멘트    건축자재  300720
1       고려시멘트    건축자재  198440
2         유니온    건축자재  000910
3      아세아시멘트    건축자재  183190
4       삼표시멘트    건축자재  038500
5     한일현대시멘트    건축자재  006390
6      노루페인트우    건축자재  090355
7       중앙디앤엠    건축자재  051980
8          동양    건축자재  001520
9      노루홀딩스우    건축자재  000325
10      라이온켐텍    건축자재  171120
11      삼화페인트    건축자재  000390
12       유진기업    건축자재  023410
13       에스와이    건축자재  109610
14       성신양회    건축자재  004980
15      성신양회우    건축자재  004985
16      노루페인트    건축자재  090350
17      한일홀딩스    건축자재  003300
18      한솔홈데코    건축자재  025750
19        모헨즈    건축자재  006920
20     초록뱀컴퍼니    건축자재  052300
21      쌍용C&E    건축자재  003410
22       이건산업    건축자재  008250
23      동양3우B    건축자재  001529
24         서산    건축자재  079650
25      동양2우B    건축자재  001527
26       동화기업    건축자재  025900
27       동양파일    건축자재  228340
28        동양우    건축자재  001525
29     LX하우시스    건축자재  108670
30       일신석재    건축자재  007110
31     강남제비스코    건축자재  000860
32         벽산    건축자재  007210
33      조광페인트    건축자재  004910
34        KCC    건축자재  002380
35       부산산업    건축자재  011390
36     KCC글라스    건축자재  344820
37        다스코    건축자재  058730
38      노루홀딩스    건축자재  000320
39    LX하우시스우    건축자재  108675
40         SG    건축자재  255220
41     삼일씨엔에스    건축자재  004440
42       보광산업    건축자재  225530
43     홈센타홀딩스    건축자재  060560
44     KH E&T    건축자재  226360

In [45]:

headers = {'User-Agent' : "my_header"}

In [121]:
Sector_SC = None
Sector_Bio = None
Sector_Car = None
Sector_Gas = None
Sector_Game = None
sectors = ["반도체와반도체장비" , "제약" , "자동차" , "석유와가스" , "게임엔터테인먼트"]
target_sector = [Sector_SC,Sector_Bio,Sector_Car,Sector_Gas,Sector_Game]


for sector_order in range(5):
    stock_name = classified_stock.loc[classified_stock['Sectors']==sectors[sector_order]]['단축코드']
    stock_price = None

    for code in stock_name:
        for page_num in range(1,3):
            url = "https://finance.naver.com/item/sise_day.naver?code="+code+"&page="+str(page_num)
            req = requests.get(url,headers =headers)
            stock_price = pd.concat([stock_price,pd.read_html(req.text,encoding = 'euc-kr')[0]])

            stock_price.dropna(inplace = True)
            stock_price['target'] = ((stock_price['시가'].values + stock_price['종가'].values)/2)*stock_price['거래량'].values

            if code == stock_name.values[0] and page_num ==1:
                target_sector[sector_order] = stock_price
            else:
                target_sector[sector_order]['target'] = target_sector[sector_order]['target']+ stock_price['target']
            stock_price = None

    target_sector[sector_order]['target'] = target_sector[sector_order]['target']/len(stock_name)/1000000

In [126]:
result = None
for i in range(5):
    target_sector[i].rename(columns = {'target' : sectors[i]}, inplace = True)
    if i==0:
        result = target_sector[i]
    else:
        result = pd.merge(result,target_sector[i][[sectors[i]]+["날짜"]],on="날짜")
        
        
result = result[["날짜"]+sectors]

In [127]:
result

,날짜,반도체와반도체장비,제약,자동차,석유와가스,게임엔터테인먼트
0,2021.11.09,28421.908406,13408.234657,64582.355272,16291.981622,102638.682491
1,2021.11.08,24665.387601,15976.068666,61686.595872,29442.803153,88396.977581
2,2021.11.05,25160.950490,13372.470275,70243.421013,29409.672048,109421.551063
3,2021.11.04,25479.952253,15417.878777,86861.529345,19616.777270,130134.279463
4,2021.11.03,26725.914521,16227.403702,50963.243541,16558.073978,95101.988956
5,2021.11.02,31845.613421,18774.613970,47864.467743,17763.260274,87369.575437
6,2021.11.01,32775.161370,14978.573230,52195.003031,23202.824758,96390.947142
7,2021.10.29,40757.140825,18434.604961,66406.561526,29049.347107,67545.416620
8,2021.10.28,44755.867352,19001.941690,99642.214953,23336.688291,71983.018992
9,2021.10.27,32686.970636,18008.796769,90622.260879,16089.428666,63825.848599