In [3]:
import pandas as pd 
from sqlalchemy import create_engine
import pymysql
import pandas_datareader 
from matplotlib import rc
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import random
import numpy as np
import seaborn as sns
from pykrx import stock

pd.options.mode.chained_assignment = None 

rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

pymysql.install_as_MySQLdb()

engine = create_engine('mysql+pymysql://root:비밀번호@localhost/kospi?charset=utf8')
connect = engine.connect()


kospi200_code = pd.read_sql_query("select * from kospi200_code",engine)
kospi_trade = pd.read_sql_query("select * from kospi_trade",engine)
kospi_code = pd.read_sql_query("select * from kospi_code",engine)

def data_initiation(stock):
    indata = pd.read_sql_query("select * from {0}".format(stock),engine,index_col = "날짜")

    for idx in indata[indata["거래량"] == 0].index:
        indata.drop(index = idx,inplace = True)
    
    indata['diff'] = (indata['고가'] - indata['저가'])/indata['종가'] # 고가와 저가의 차이
    indata['pct_change'] =indata['종가'].pct_change()
    
    indata.dropna(inplace = True)

    return indata

In [80]:
random_sample = random.sample(list(kospi200_code['한글 종목약명'].values),3)
random_sample

['LG디스플레이', '효성첨단소재', '신풍제약']

In [90]:
data = data_initiation(random_sample[2])
data.drop(columns = "index",inplace = True)

# 상장주식수 변환 날짜 추출
def outstandingshare_change_date(data):
    data['하루전상장주식수'] = data['상장주식수'].shift(1)
    output = data[(data['하루전상장주식수'] != data['상장주식수']) & (data.index != data.index.min())]
    
    return output.index.values

change_date = data.loc[outstandingshare_change_date(data)] 
change_date

,시가,고가,저가,종가,거래량,거래대금,등락률,시가총액,상장주식수,diff,pct_change,하루전상장주식수
날짜,,,,,,,,,,,,
2001-11-21,15250,15250,15050,15100,3900,58933500,-0.66,56754195600,3758556,0.013245,-0.006579,2479356.0
2002-11-19,12350,12600,12200,12200,45850,562972500,-1.61,46249260600,3790923,0.032787,-0.016129,3758556.0
2003-09-15,13400,13500,13000,13350,30840,410474000,-2.20,50665572900,3795174,0.037453,-0.021978,3790923.0
2003-10-28,13000,13150,12750,13000,10110,130343000,0.00,49447801000,3803677,0.030769,0.000000,3795174.0
2011-05-04,4540,4590,4300,4440,613959,2745914940,8.29,173554138800,39088770,0.065315,-0.891707,3803677.0
2012-04-23,4820,4920,4700,4780,131952,630464090,-0.21,193743772600,40532170,0.046025,-0.002088,39088770.0
2013-04-30,5050,5220,5020,5200,380958,1955440050,3.17,218572640000,42033200,0.038462,0.031746,40532170.0
2014-04-22,4700,4745,4675,4720,57392,270825140,0.00,205765096000,43594300,0.014831,0.000000,42033200.0
2015-04-28,5450,5460,5170,5240,711945,3774386460,-2.42,236942320000,45218000,0.055344,-0.024209,43594300.0
2016-05-11,8780,8900,8600,8900,1430768,12468659550,1.37,471566411000,52984990,0.033708,0.013667,45218000.0

In [8]:
def self_corr(rand):
    data = data_initiation(rand)

    data['거래량회전율'] = (data['거래량']/data['상장주식수'])*100
    data['거래대금회전율'] = (data['거래대금']/data['시가총액'])*100
    
    corr = np.corrcoef(data['거래량회전율'],data['거래대금회전율'])
    
    return  corr

In [13]:
stock_list = kospi200_code['한글 종목약명'].values

corr_result = []

for stock_name in stock_list:
    corr_result.append(self_corr(stock_name)[0][1])

In [18]:
print("코스피 200 종목들의 개별종목 거래대금 회전율과 거래량 회전율사이 상관계수 평균 : {0:.3f}".format(np.mean(corr_result)))

코스피 200 종목들의 개별종목 거래대금 회전율과 거래량 회전율사이 상관계수 평균 : 0.999