In [81]:
import pandas as pd 
from sqlalchemy import create_engine
import pymysql
import pandas_datareader 
from matplotlib import rc
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import random
import numpy as np
import seaborn as sns
from pykrx import stock

pd.options.mode.chained_assignment = None 

rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

pymysql.install_as_MySQLdb()

engine = create_engine('mysql+pymysql://root:비밀번호@localhost/kospi?charset=utf8')
connect = engine.connect()

kospi_trade = pd.read_sql_query("select * from kospi_trade",connect)
kospi_trade.drop(columns = "index",inplace = True)

In [96]:
import time

for idx,value in enumerate(kospi_trade['날짜'].dt.strftime("20%y%m%d")):
    if idx>=4373:
        df = stock.get_market_cap(value,"KOSPI")
        df['거래량회전율'] = (df['거래량']/df['상장주식수'])*100

        df['시가총액가중치'] = df['시가총액']/df['시가총액'].sum()
        df['시가총액가중거래량회전율'] = df['거래량회전율'] * df['시가총액가중치']

        df['주식수가중치'] = df['상장주식수']/df['상장주식수'].sum()
        df['주식수가중거래량회전율'] = df['거래량회전율']*df['주식수가중치']

        kospi_trade.at[idx,'시가총액가중거래량회전율'] = df['시가총액가중거래량회전율'].sum()
        kospi_trade.at[idx,'주식수가중거래량회전율'] = df['주식수가중거래량회전율'].sum()
        kospi_trade.at[idx,"산술평균거래량회전율"] = df['거래량회전율'].mean()
        if(idx%7 == 0):
            time.sleep(2)

kospi_trade.to_sql(con= connect , name = "kospi_trade",index = True, if_exists = "replace")

In [97]:
kospi_trade

,날짜,시가,고가,저가,종가,거래량,거래대금,상장총주식수,총시가총액,주식개수,시가총액가중거래량회전율,주식수가중거래량회전율,산술평균거래량회전율
0,2001-01-02,503.31,521.34,500.97,520.95,231014651,1223328380750,19638887863,193114953282685,902,0.649934,1.176312,2.354010
1,2001-01-03,512.74,524.58,510.70,521.43,324584464,1583403350350,19633559878,193235873129720,902,0.826239,1.653212,2.966837
2,2001-01-04,551.53,567.16,550.91,558.02,444540910,2984761784750,19634734316,205967076965360,902,1.450508,2.264054,3.904627
3,2001-01-05,559.54,581.41,555.40,580.85,578286058,3569582080650,19637038416,213976764466745,902,1.695701,2.944874,4.260174
4,2001-01-08,573.72,587.91,572.48,586.65,558645149,2948092701600,19630735889,216102967752560,902,1.367770,2.845768,3.669166
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,2022-03-22,2686.68,2712.14,2686.58,2710.00,489441786,9367506018394,62200571669,2127002889531033,939,0.441085,0.786877,1.258062
5243,2022-03-23,2727.12,2742.27,2720.83,2735.05,883375917,11838671696715,62219229886,2146408436495134,939,0.555600,1.419780,2.459598
5244,2022-03-24,2716.25,2729.66,2705.14,2729.66,960897734,13177858819418,62219229886,2142618010591245,939,0.616142,1.544374,2.524404
5245,2022-03-25,2740.83,2740.95,2722.36,2729.98,602771056,10824995141702,62259835761,2143377809045015,939,0.508572,0.968154,1.580403
5246,2022-03-28,2721.22,2737.46,2707.74,2729.56,768042550,9801744222798,62311186009,2143333163570399,940,0.456775,1.232592,1.491051

In [98]:
kospi_trade2 = pd.read_sql_query("select * from kospi_trade",connect)
kospi_trade2

,index,날짜,시가,고가,저가,종가,거래량,거래대금,상장총주식수,총시가총액,주식개수,시가총액가중거래량회전율,주식수가중거래량회전율,산술평균거래량회전율
0,0,2001-01-02,503.31,521.34,500.97,520.95,231014651,1223328380750,19638887863,193114953282685,902,0.649934,1.176312,2.354010
1,1,2001-01-03,512.74,524.58,510.70,521.43,324584464,1583403350350,19633559878,193235873129720,902,0.826239,1.653212,2.966837
2,2,2001-01-04,551.53,567.16,550.91,558.02,444540910,2984761784750,19634734316,205967076965360,902,1.450508,2.264054,3.904627
3,3,2001-01-05,559.54,581.41,555.40,580.85,578286058,3569582080650,19637038416,213976764466745,902,1.695701,2.944874,4.260174
4,4,2001-01-08,573.72,587.91,572.48,586.65,558645149,2948092701600,19630735889,216102967752560,902,1.367770,2.845768,3.669166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,5242,2022-03-22,2686.68,2712.14,2686.58,2710.00,489441786,9367506018394,62200571669,2127002889531033,939,0.441085,0.786877,1.258062
5243,5243,2022-03-23,2727.12,2742.27,2720.83,2735.05,883375917,11838671696715,62219229886,2146408436495134,939,0.555600,1.419780,2.459598
5244,5244,2022-03-24,2716.25,2729.66,2705.14,2729.66,960897734,13177858819418,62219229886,2142618010591245,939,0.616142,1.544374,2.524404
5245,5245,2022-03-25,2740.83,2740.95,2722.36,2729.98,602771056,10824995141702,62259835761,2143377809045015,939,0.508572,0.968154,1.580403
5246,5246,2022-03-28,2721.22,2737.46,2707.74,2729.56,768042550,9801744222798,62311186009,2143333163570399,940,0.456775,1.232592,1.491051