In [156]:
import pandas as pd

kosdaq = pd.read_csv("코스닥 종목 데이터.csv",encoding="cp949")[['단축코드',"한글 종목약명","상장일"]]
kospi = pd.read_csv("코스피 종목 데이터.csv",encoding="cp949")[['단축코드',"한글 종목약명","상장일"]]

# 주식종목이름, 코드 데이터 
### 우선주는 이상치 탐지 종목에서 제외하도록 함

In [157]:
#우선주는 이상치 탐지 종목에서 제외하도록 함
kosdaq.index = kosdaq['단축코드']
kospi.index = kospi['단축코드']
kospi.drop(columns = '단축코드',inplace = True)
kosdaq.drop(columns ='단축코드',inplace= True)

In [158]:
import re
regex = re.compile("[a-zA-Z0-9]")
woo = kospi['한글 종목약명'].apply(lambda x : True if (regex.sub('',x).strip() != "") and (regex.sub('',x).strip()[-1] == "우") else False )
real_kospi = kospi[~woo]

out = ['아모레G3우(전환)','CJ4우(전환)']

real_kospi = real_kospi[real_kospi['한글 종목약명'].apply(lambda x : True if x not in out else True)]

real_kospi

        한글 종목약명         상장일
단축코드
095570   AJ네트웍스  2015/08/21
006840    AK홀딩스  1999/08/11
282330   BGF리테일  2017/12/08
027410      BGF  2014/05/19
138930  BNK금융지주  2011/03/30
...         ...         ...
079980      휴비스  2012/02/23
005010      휴스틸  1973/06/29
069260      휴켐스  2002/10/07
000540     흥국화재  1974/12/05
003280     흥아해운  1976/06/29

[823 rows x 2 columns]

In [159]:
woo = kosdaq['한글 종목약명'].apply(lambda x : True if (regex.sub('',x).strip() != "") and (regex.sub('',x).strip()[-1] == "우") else False )

print(kosdaq[woo]['한글 종목약명'])
out = ["대호특수강우","루트로닉3우C","해성산업1우"]

real_kosdaq = kosdaq[kosdaq['한글 종목약명'].apply(lambda x : True if x not in out else False)]
real_kosdaq

단축코드
293580       나우IB
021045     대호특수강우
08537M    루트로닉3우C
032685      소프트센우
115960         연우
294090      이오플로우
03481K     해성산업1우
Name: 한글 종목약명, dtype: object

        한글 종목약명         상장일
단축코드
098120  마이크로컨텍솔  2008/09/23
131100   스카이이앤엠  2011/06/14
009520    포스코엠텍  1997/11/10
058820    CMG제약  2001/08/31
050120     ES큐브  2002/04/25
...         ...         ...
024060     흥구석유  1994/12/07
010240       흥국  2009/05/12
189980   흥국에프엔비  2015/08/07
037440       희림  2000/02/03
238490       힘스  2017/07/20

[1534 rows x 2 columns]

In [167]:
real_kospi['상장일'] = pd.to_datetime(real_kospi['상장일'])
real_kosdaq['상장일'] = pd.to_datetime(real_kosdaq['상장일'])

real_kospi.reset_index(inplace = True, col_level = 0)
real_kosdaq.reset_index(inplace = True,col_level =0)

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 주식종목 데이터 베이스 만들기

In [173]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('mysql+pymysql://root:비밀번호@localhost/stock?charset=utf8')
connect = engine.connect()
real_kospi.to_sql(con=connect, name='코스피', index = False,if_exists='replace')
real_kosdaq.to_sql(con =connect , name ="코스닥",index = False, if_exists = "replace")