In [1]:
# ë¬¸ì œ ì¶œì²˜ https://www.datamanim.com/dataset/03_dataq/pandas_practice.html
import pandas as pd
#ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸° ë™ì˜ìƒ
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)

In [13]:
#1. ì¸ê¸° ë™ì˜ìƒ ì œì‘íšŸìˆ˜ ë§ì€ ìƒìœ„ 10ê°œ ì±„ë„
df['channelTitle'].value_counts().sort_values(ascending=False)[:10]

ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
ì¥ì‚ì­ˆ                      283
BANGTANTV                275
ì±„ë„ ì‹­ì˜¤ì•¼                   274
ì´ê³¼ì¥                      258
ì´ëª‡ëª…                      255
Name: channelTitle, dtype: int64

In [20]:
#2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒ ëœê±° ì°¾ê¸°ìœ„í•´ dislike>likeì¸ ì±„ë„ ì¶œë ¥
print(list(df.loc[df['likes']<df['dislikes']]['channelTitle'].unique()))

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

In [84]:
#3. ì±„ë„ ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ ìˆëŠ”ì§€ í™•ì¸í•´ë´
df['channelId'].value_counts()

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
                           ...
UCj00eA-Q0lokXCA6JAa_grw      1
UCdtY7-_h-KgBTXHJfTk8wwQ      1
UCESC_GRUe4Z7-OOxk_AWm5Q      1
UCGuE0TrBNIZKfordUwAQe2w      1
UCNh_yWrspnQbZDZijQFyjbw      1
Name: channelId, Length: 1770, dtype: int64

In [98]:
#4. ì¼ìš”ì¼ ê°€ì¥ ë§ì´ ë³¸ ì¹´í…Œê³ ë¦¬
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[df['trending_date2'].dt.day_name() == "Sunday"]['categoryId'].value_counts().head(1)

24    3096
Name: categoryId, dtype: int64

In [119]:
#5.ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼
#df['ìš”ì¼'] = df['trending_date2'].dt.day_name()
df.groupby(["categoryId","ìš”ì¼"],as_index =False).size().pivot(index='categoryId',columns="ìš”ì¼")

             size
ìš”ì¼         Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1             243    263      255    274      246     257       234
2             120    105      119     99      128     119       129
10            833    837      776    830      890     894       917
15            187    215      198    217      207     208       207
17            633    668      592    636      682     708       706
19             90     92       87     91       92      89        85
20            283    298      296    289      282     285       291
22           1288   1373     1289   1337     1341    1375      1333
23            568    594      570    556      560     569       566
24           2976   3148     3066   3096     2954    3084      3090
25            444    453      422    437      470     452       468
26            369    378      364    363      375     394       385
27            183    205      183    199      194     194       212
28            171    160      173    167      166     161       165
29             12     10       10      9       13      11        12

In [133]:
#6 ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. 
# viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

new_df = df[df.view_count !=0]
new_df['rank'] = new_df['comment_count']/new_df['view_count']
new_df[new_df['rank'] == new_df['rank'].max()]

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ìš”ì¼,rank
50830,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,Thursday,0.161516

In [139]:
#7. viewcountëŒ€ë¹„ comment_countë‚®ì€ ì˜ìƒ ì°¾ì•„ë¼
new_df[new_df['rank'] == new_df[new_df['rank']!=0]['rank'].min()]['title']

46005    Join the BTS #PermissiontoDance Challenge only...
Name: title, dtype: object

In [146]:
#8. likeëŒ€ë¹„ dislikeê°€ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€?
new_df = df[(df['likes'] != 0) & (df['dislikes'] != 0 )]
new_df['rank'] = new_df['dislikes']/new_df['likes']
new_df[new_df['rank'] == new_df['rank'].min()]['title']

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11477    [ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€...
Name: title, dtype: object

In [153]:
#9. ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€?

In [161]:
#10. 20ì¼ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ë˜ì—ˆë˜ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?
sum(df.groupby("title").count()['trending_date2']>=20)

41

In [162]:
#ìœ íŠœë¸Œ "ê³µë²”" ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ 10ë¶„ê°„ê²©
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [169]:
#1. videoë°ì´í„° videoname ë§ˆë‹¤ ê° ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³ ìˆëŠ”ì§€ í™•ì¸
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

In [212]:
#2 ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼
target =video.sort_values(['videoname','ct'],ascending = False).drop_duplicates("videoname")
target[['viewcnt','ct','videoname']]

       viewcnt                  ct videoname
15200  1289088 2021-11-01 15:30:05    ê³µë²” EP8
13660  1630200 2021-11-01 15:30:05    ê³µë²” EP7
14934  1750222 2021-11-01 15:30:04    ê³µë²” EP6
13105  1503435 2021-11-01 15:30:04    ê³µë²” EP5
11543  1818493 2021-11-01 15:30:03    ê³µë²” EP4
9263   1671294 2021-11-01 15:30:03    ê³µë²” EP3
6695   2199328 2021-11-01 15:30:03    ê³µë²” EP2
3491   3180532 2021-11-01 15:30:03    ê³µë²” EP1

In [217]:
#2. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼
#sort_value í›„ drop_duplicateí•˜ëŠ” ë°©ì‹ì„ ë§ì´ì“°ë„¤

,channelid,subcnt,viewcnt,videocnt,ct,channelname
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,ê½ˆëšœë£¹
17,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 09:01:05,ê½ˆëšœë£¹
18,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 15:01:05,ê½ˆëšœë£¹
19,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-04 21:01:04,ê½ˆëšœë£¹
20,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,418138737,738,2021-10-05 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [222]:
#3.ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼
time_interval = [datetime.datetime(2021,10,3,3),datetime.datetime(2021,11,1,15)]
time_interval

In [175]:
#4. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ 
# ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [176]:
#5. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [177]:
#6. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ 
# ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [178]:
#7. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  
# videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [179]:
#8. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [ ]:
#9. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼