In [2]:
# 문제 출처 :  https://www.datamanim.com/dataset/03_dataq/pandas_practice.html#id3

import pandas as pd

#월드컵 출전선수 골 기록 데이터
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')

In [6]:
#1. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라
df.groupby("Country").sum().sort_values("Goals",ascending = False).head(5)

   Country  Goals
0  Germany     16
1   Brazil     15
2  Germany     14
3   France     13
4   Brazil     12

In [14]:
#2. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 
# 그 선수 숫자를 데이터 프레임 형식으로 출력하라
df.groupby("Country").count().sort_values("Player",ascending =False)['Player'][:5]

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

In [33]:
#3.Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 
# 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라
len(df[df['Years'].apply(lambda x : len(x.replace("-","")))%4 !=0])

45

In [39]:
#4.**Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 
# 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다) **
cond = df['Years'].apply(lambda x : len(x.replace("-","")))%4 !=0
df2 = df[~cond]
df2.reset_index(drop = True)
len(df2)

1250

In [50]:
#5.월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라
df2['LenCup'] = df['Years'].apply(lambda x : len(x.split("-")))
(df2['LenCup'] == 4).sum()

16

In [49]:
#6.Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라
((df2['Country'] == "Yugoslavia") & (df2['LenCup'] ==2)).sum()

7

In [47]:
#7. 2002년도에 출전한 전체 선수는 몇명인가?
df2['Years'].str.contains("2002").sum()

156

In [61]:
#8. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)
df2['Player'].str.lower().str.contains("carlos").sum()

13

In [64]:
#9. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?
target = df2[df2['LenCup'] == 1]
target[target['Goals'] == target['Goals'].max()]['Player']

3    Just Fontaine
Name: Player, dtype: object

In [71]:
#10. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?
df2[df2['LenCup'] == 1].groupby("Country").count().sort_values("Player",ascending = False)[:1]

         Player  Goals  Years  LenCup
Country
Brazil       43     43     43      43

In [72]:
# 서울시 따릉이 데이터 
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

In [78]:
#1. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라
df.groupby("대여일자").count().sort_values(by = "성별" , ascending = False)[:1]

,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
대여일자,,,,,,,,,,
2021-06-04,56788,56788,56788,56788,56788,56788,56788,56788,56788,56788

In [85]:
target = df.groupby("대여일자").count()['대여시간']
target.rename({"대여시간": "대여일자"},inplace = True)
target.to_frame()
# 좋은 답안 :df['대여일자'].value_counts().sort_index().to_frame()

             대여시간
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [89]:
#2.각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여
# 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라
import datetime
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].apply(lambda x: x.day_name())

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [90]:
df['day_name'].value_counts().sort_values().to_frame()

           day_name
Thursday      55977
Sunday        90918
Saturday     101299
Tuesday      103704
Monday       107568
Friday       108877
Wednesday    110607

In [130]:
#3. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라
target = df.groupby(["day_name",'대여소번호']).sum().sort_values("사용시간",ascending = False)['이용건수'].to_frame()
target.reset_index(inplace=True)
target.drop_duplicates("day_name")

      day_name  대여소번호  이용건수
0     Saturday    502   616
1       Sunday    207   509
8    Wednesday    207   351
13      Friday    207   326
19     Tuesday    502   371
22      Monday    152   296
478   Thursday   2102   154

In [219]:
#4. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 
# 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라
total_count = df['연령대코드'].value_counts()
target = df.groupby(["연령대코드","대여구분코드"]).size()
target = target.to_frame()
target.reset_index(inplace = True)
target.rename(columns = {target.columns[2] : "개수"},inplace = True)
target = target[target['대여구분코드'] == "일일권"].sort_values("연령대코드")
total_count.sort_index(inplace=True)

target['ratio'] = target['개수']/total_count.values
target.sort_values("ratio",ascending = False)

   연령대코드 대여구분코드     개수     ratio
23  ~10대    일일권  11540  0.312525
1    20대    일일권  59389  0.239896
5    30대    일일권  31124  0.166686
9    40대    일일권  12692  0.110558
13   50대    일일권   4606  0.065400
20  70대~    일일권    158  0.048962
17   60대    일일권    819  0.042462

In [221]:
#5. 연령대별 평균 이동거리를 구하여라
df.groupby("연령대코드").mean()['이동거리']

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64

In [250]:
#6. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.
#최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라
import numpy as np 

target = df[df['연령대코드'].str.contains("20대")]
target.reset_index(inplace=True)
target = target[target['이동거리'] >= target['이동거리'].mean()]
target = target.sort_values(["대여일자","대여소번호"],ascending = False)[:200]
target['탄소량'] = target['탄소량'].astype('float')
np.round(target['탄소량'].mean(),3)

1.613

In [262]:
#7. 6월 7일 ~10대의 “이용건수”의 중앙값은?
target = df[(df['연령대코드'].str.contains("10대")) & (df['대여일자'] ==datetime.datetime(2021,6,7))]
target['이용건수'].median()

1.0

In [316]:
#8.평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 
# 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라
target = df[(df['day_name'] != "Sunday") & (df['day_name'] != "Saturday")]
target = target[(target['대여시간']>=6)& (target['대여시간']<=8)]
target = target.groupby(['대여시간','대여소번호']).size()
target = target.to_frame('이용횟수')

target.sort_values('이용횟수',ascending = False).groupby("대여시간").head(3)

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
7    259     104
8    1152     92
7    230      77
     726      77
6    2744     45
     1125     40
     3214     36

In [323]:
#9. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라
np.sqrt(df[df['이동거리']>=df['이동거리'].mean()]['이동거리'].var())

5092.139707505305

In [326]:
#10. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라
df['성별'] = df['성별'].str.lower()
df.groupby("성별").mean()['이동거리']

성별
f    3468.575025
m    3209.110871
Name: 이동거리, dtype: float64

4