In [1]:
# 출처 : https://www.datamanim.com/dataset/03_dataq/pandas_practice.html#id8
# 포켓몬 데이터
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
#1. Legendary 컬럼은 전설포켓몬 유무를 나타낸다.
# 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라
df[df['Legendary'] == 1]['HP'].mean() - df[df['Legendary'] == 0 ]['HP'].mean()

25.55614861329147

In [12]:
#2. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?
df["Type 2"].value_counts().head(1).index.values[0]

'Flying'

In [14]:
#3. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?
target = df[df['Type 1'] == df['Type 1'].max()]
target['Attack'].mean()/target['Defense'].mean()

1.0165238678090576

In [22]:
#4. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?
df.groupby("Generation").sum()['Legendary'].sort_values(ascending=False).head(1)

Generation
3    18
Name: Legendary, dtype: int64

In [32]:
#5. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 
# 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라
target_col = df.columns[5:11]
corr = df[target_col].corr().unstack()
corr = corr[corr != 1]
corr.sort_values(ascending =False).head(1)

Sp. Def  Defense    0.510747
dtype: float64

In [40]:
#6. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라
df.sort_values(['Generation',"Attack"]).groupby('Generation').head(3)['Attack'].mean()

19.5

In [49]:
#7. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?
df['pair'] = df["Type 1"] + "/" +df["Type 2"]
df['pair'].value_counts().sort_values(ascending = False).head(1)

Normal/Flying    24
Name: pair, dtype: int64

In [60]:
#8 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?
sum(df['pair'].value_counts().values ==1)

39

In [83]:
#9. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?
target_list = df['pair'].value_counts().to_frame().reset_index()[df['pair'].value_counts().values == 1]['index'].values
df[df['pair'].apply(lambda x : True if x in target_list else False)]['Generation'].value_counts()

4    13
6     9
5     7
3     5
2     4
1     1
Name: Generation, dtype: int64

In [84]:
#체력장 데이터
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')