In [1]:
# 출처 : https://www.datamanim.com/dataset/03_dataq/pandas_practice.html#id8
# 포켓몬 데이터
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
#1. Legendary 컬럼은 전설포켓몬 유무를 나타낸다.
# 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라
df[df['Legendary'] == 1]['HP'].mean() - df[df['Legendary'] == 0 ]['HP'].mean()

25.55614861329147

In [12]:
#2. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?
df["Type 2"].value_counts().head(1).index.values[0]

'Flying'

In [14]:
#3. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?
target = df[df['Type 1'] == df['Type 1'].max()]
target['Attack'].mean()/target['Defense'].mean()

1.0165238678090576

In [22]:
#4. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?
df.groupby("Generation").sum()['Legendary'].sort_values(ascending=False).head(1)

Generation
3    18
Name: Legendary, dtype: int64

In [32]:
#5. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 
# 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라
target_col = df.columns[5:11]
corr = df[target_col].corr().unstack()
corr = corr[corr != 1]
corr.sort_values(ascending =False).head(1)

Sp. Def  Defense    0.510747
dtype: float64

In [40]:
#6. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라
df.sort_values(['Generation',"Attack"]).groupby('Generation').head(3)['Attack'].mean()

19.5

In [49]:
#7. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?
df['pair'] = df["Type 1"] + "/" +df["Type 2"]
df['pair'].value_counts().sort_values(ascending = False).head(1)

Normal/Flying    24
Name: pair, dtype: int64

In [60]:
#8 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?
sum(df['pair'].value_counts().values ==1)

39

In [83]:
#9. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?
target_list = df['pair'].value_counts().to_frame().reset_index()[df['pair'].value_counts().values == 1]['index'].values
df[df['pair'].apply(lambda x : True if x in target_list else False)]['Generation'].value_counts()

4    13
6     9
5     7
3     5
2     4
1     1
Name: Generation, dtype: int64

In [3]:
#체력장 데이터
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')

In [6]:
#1. 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라
target_col = df.columns[5:7]
(df[target_col[1]] - df[target_col[0]]).mean()

52.19539414750672

In [11]:
#2. 50~59세의 신장평균을 구하여라
df[(df['측정나이']>=50)  & (df['측정나이']<=59)]['신장 : cm'].mean()

164.07490107405295

In [24]:
#3. 연령대 (20~29 : 20대 …) 별 인원수를 구하여라
df['연령대'] = df['측정나이'].apply(lambda x : str(int(x//10))+"0대")
df['연령대'].value_counts()

20대    5831
30대    2660
40대    1801
50대    1769
60대    1335
Name: 연령대, dtype: int64

In [37]:
#4. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라
df.groupby(["연령대","등급"],as_index =False).size()

    연령대 등급  size
0   20대  A  1585
1   20대  B  1443
2   20대  C  1455
3   20대  D  1348
4   30대  A   743
5   30대  B   697
6   30대  C   626
7   30대  D   594
8   40대  A   386
9   40대  B   428
10  40대  C   455
11  40대  D   532
12  50대  A   321
13  50대  B   410
14  50대  C   474
15  50대  D   564
16  60대  A   314
17  60대  B   371
18  60대  C   339
19  60대  D   311

In [48]:
#5. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라
import numpy as np
target_df = df.groupby(["등급","측정회원성별"],as_index = False).mean()
target_df = target_df[target_df['측정회원성별'].str.lower() == "m"]
np.abs(target_df[target_df['등급'] == "A"]['체지방율 : %'].values-target_df[target_df['등급'] == "D"]['체지방율 : %'].values)[0]

7.932086486137521

In [51]:
#6. 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라
target_df = df.groupby(["등급","측정회원성별"],as_index = False).mean()
target_df = target_df[target_df['측정회원성별'].str.lower() == "f"]
np.abs(target_df[target_df['등급'] == "A"]['체중 : kg'].values-target_df[target_df['등급'] == "D"]['체중 : kg'].values)[0]

5.176211590296489

In [54]:
#7. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 
# 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라
df['BMI'] = (df['체중 : kg'])/((df['신장 : cm']/100)**2)
df[df['측정회원성별'].str.lower() == "m"]["BMI"].mean()

24.461344098193027

In [55]:
#8. bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라
df[df['BMI']<df['체지방율 : %']]['체중 : kg'].mean()

61.740880639254314

In [57]:
#9. 남성과 여성의 악력 평균의 차이를 구하여라
df[df['측정회원성별'].str.lower() == "m"]["악력D : kg"].mean()- df[df['측정회원성별'].str.lower() == "f"]["악력D : kg"].mean()

17.559541850474677

In [59]:
#10 .남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라
df[df['측정회원성별'].str.lower() == "m"]["교차윗몸일으키기 : 회"].mean()- df[df['측정회원성별'].str.lower() == "f"]["교차윗몸일으키기 : 회"].mean()

14.243156833157634