In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1132,18205,Female,1,0,0,No,children,Rural,110.17,20.3,Unknown,0
1133,13622,Male,6,0,0,No,children,Rural,92.98,18.9,Unknown,0
1134,59749,Male,81,0,0,Yes,Private,Urban,234.35,25.3,formerly smoked,0
1135,12109,Female,81,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
1136,5731,Female,57,1,0,Yes,Private,Urban,108.61,38.1,smokes,0

In [19]:
#1. 성별이 Male인 환자들의 age의 평균값은 ?
df['age'] = df['age'].str.replace("*","")
df['age'] = df['age'].astype(int)
print(int(df[df['gender']=="Male"]['age'].mean()))

44

In [30]:
#2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
import numpy as np
np.round(df['bmi'].fillna(df['bmi'].median()).mean(),3)

29.166

In [34]:
#3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
df['bmi_previous'] = df['bmi'].shift(1)
np.round(df['bmi'].fillna(df['bmi_previous']).mean(),3)
#method = "ffill"

29.191

In [53]:
#4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
df['age'] =df['age'].astype(str)
df['age_range'] = df['age'].apply(lambda x : x[0] if len(x)==2 else 0)
null_df = df[df['bmi'].isnull()]

In [55]:
age_set = {}
for i in df['age_range'].unique():
    age_set[i] = df[df['age_range']==i]['bmi'].mean()
null_df['bmi'] = df['age_range'].apply(lambda x : age_set[x])
np.round(null_df['bmi'].mean(),3)

/Users/hyunwoo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

30.611

In [58]:
#5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라
df.loc[df['avg_glucose_level']>=200,'avg_glucose_level']=199
np.round(df[df['stroke']==1]['avg_glucose_level'].mean(),3)

125.188

In [59]:
df= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [64]:
#6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?
target = df.sort_values("Attack",ascending=False).reset_index()
a = target.iloc[:400]["Legendary"].sum()
b = target.iloc[400:800]['Legendary'].sum()
a - b

57

In [77]:
#7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?
df.groupby('Type 1').mean().sort_values("Total",ascending = False)['Total'].index[2]

'Flying'

In [84]:
#8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라
non_null_df = df.dropna()
non_null_df = non_null_df.iloc[:int(len(non_null_df)*0.6)]
non_null_df['Defense'].describe()[4]

50.0

In [85]:
non_null_df['Defense'].quantile(0.25)

50.0

In [88]:
#9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라
target = df[df['Attack']>=df[df['Type 1'] == "Fire"]['Attack'].mean()]
len(target[target['Type 1'] == "Water"])

37

In [89]:
#10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?
df['Generation']

0      1
1      1
2      1
3      1
4      1
      ..
795    6
796    6
797    6
798    6
799    6
Name: Generation, Length: 800, dtype: int64

In [104]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [105]:
train.dropna(inplace=True)
train.drop(columns = "id",inplace = True)

In [106]:
#데이터 전처리
from sklearn.preprocessing import LabelEncoder

gender_encoder = LabelEncoder()
marry_encoder = LabelEncoder()
smoke_encoder = LabelEncoder()
residence_encoder = LabelEncoder()
work_encoder = LabelEncoder()

gender_encoder.fit(train['gender'])
marry_encoder.fit(train['ever_married'])
smoke_encoder.fit(train['smoking_status'])
residence_encoder.fit(train['Residence_type'])
work_encoder.fit(train['work_type'])

LabelEncoder()

In [107]:
train['gender'] = gender_encoder.transform(train['gender'])
train['ever_married'] = marry_encoder.transform(train['ever_married'])
train['smoking_status'] = smoke_encoder.transform(train['smoking_status'])
train['Residence_type'] = residence_encoder.transform(train['Residence_type'])
train['work_type'] = work_encoder.transform(train['work_type'])

In [110]:
from sklearn.ensemble import RandomForestClassifier as rfc
from sklearn.model_selection import GridSearchCV

train['age'] = train['age'].str.replace("*","")
train['age'] = train['age'].astype(int)

X = train[train.columns[:10]]
y = train['stroke']

parameter = {"max_depth" : [10,20,30,40,50,100,300]}
model = rfc()
svc = GridSearchCV(model,parameter,scoring = "roc_auc")
svc.fit(X,y)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [10, 20, 30, 40, 50, 100, 300]},
             scoring='roc_auc')

In [116]:
print(svc.best_estimator_)
print(svc.best_score_)

RandomForestClassifier(max_depth=10)
0.812045993455385

In [112]:
test_data = test.copy()
test_data.drop(columns ={"id"},inplace=True)
test_data['bmi'] = test_data['bmi'].fillna(train['bmi'].mean())

test_data['gender'] = gender_encoder.transform(test_data['gender'])
test_data['ever_married'] = marry_encoder.transform(test_data['ever_married'])
test_data['smoking_status'] = smoke_encoder.transform(test_data['smoking_status'])
test_data['Residence_type'] = residence_encoder.transform(test_data['Residence_type'])
test_data['work_type'] = work_encoder.transform(test_data['work_type'])

In [66]:
submit_file = pd.DataFrame(index = test['id'])
submit_file['y']= svc.predict(test_data)

In [80]:
submit_file.sort_index(inplace=True)
submit_file.to_csv("모의고사2_수험번호.csv")

In [81]:
pd.read_csv("모의고사2_수험번호.csv",index_col =0)

       y
id
121    0
210    0
239    1
259    0
321    0
...   ..
72784  0
72819  0
72824  0
72867  0
72911  0

[932 rows x 1 columns]

In [98]:
from xgboost import XGBClassifier as xc
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score

model = xc()
kfold = KFold()
acc = []

for train_idx,test_idx in kfold.split(X):
    model.fit(X = X.iloc[train_idx],y = y.iloc[train_idx])
    pred = model.predict(X.iloc[test_idx])
    acc.append(roc_auc_score(pred,y.iloc[test_idx]))

In [109]:
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_absolute_percentage_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'top_k_accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])