In [120]:
# 출처 : https://www.datamanim.com/dataset/03_dataq/pandas_practice.html#id6
# 전세계 행복도 지표 데이터
import pandas as pd
pd.set_option('mode.chained_assignment',  None)
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')

In [8]:
#1. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 
# 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라
df[df['행복랭킹']==10]['점수'].mean()

7.259

In [13]:
#2. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 
# 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라
df[df['행복랭킹']<=50].groupby("년도").mean()['점수'].to_frame()

           점수
년도
2018  6.64678
2019  6.67002

In [14]:
#3. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라
df[df['년도']==2018][['점수','부패에 대한인식']].corr()

                점수  부패에 대한인식
점수        1.000000  0.405292
부패에 대한인식  0.405292  1.000000

In [32]:
#4. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라
start = df[df['년도'] == 2018].sort_values("나라명").reset_index()
end = df[df['년도']== 2019].sort_values("나라명").reset_index()
(start['행복랭킹'] == end['행복랭킹']).sum()

10

In [55]:
#5. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 
#상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라
corr = df[df['년도']==2019].corr()
corr.drop(columns = ['년도'] , index = ['년도'],inplace=True)
corr = corr.unstack().sort_values(ascending = False)
corr = corr[corr != 0]
corr

행복랭킹     행복랭킹       1.000000
점수       점수         1.000000
관대함      관대함        1.000000
선택의 자유도  선택의 자유도    1.000000
행복기대치    행복기대치      1.000000
                      ...
         행복랭킹      -0.787411
행복랭킹     상대GDP     -0.801947
상대GDP    행복랭킹      -0.801947
행복랭킹     점수        -0.989096
점수       행복랭킹      -0.989096
Length: 64, dtype: float64

In [63]:
#6 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라
target = df.sort_values("점수")
target = target.groupby("년도").head(5).groupby("년도")
target['점수'].mean()

년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

In [80]:
#7. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 
# 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라
target = df[df['년도']==2019]
lower_target = target[target['상대GDP']<target['상대GDP'].mean()]
upper_target = target[target['상대GDP']>=target['상대GDP'].mean()]
upper_target['점수'].mean()-lower_target['점수'].mean()

1.3904839572192538

In [79]:
#8.각년도의 부패에 대한인식을 내림차순 정렬했을때 
# 상위 20개 국가의 부패에 대한인식의 평균을 구하여라
target = df.sort_values("부패에 대한인식",ascending = False)
target.groupby("년도").head(20).groupby("년도").mean()['부패에 대한인식']

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

In [95]:
#9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 
# 밀려난 국가의 숫자를 구하여라
import numpy as np

begin = df[df['년도']==2018]
begin = begin[begin['행복랭킹']<=50]
end = df[df['년도']==2019]
end = end[end['행복랭킹']>50]

len(np.intersect1d(begin['나라명'].values, end['나라명'].values))

3

In [97]:
#10. 2018년,2019년 모두 기록이 있는 나라들 중 
# 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [124]:
import pandas as pd
#지역구 에너지 소비량 데이터
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')

In [125]:
import datetime
# 1. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Month'] = df['DateTime'].dt.month
df['Month'].value_counts().sort_index().to_frame()

    Month
1    4464
2    4032
3    4464
4    4320
5    4464
6    4320
7    4464
8    4464
9    4320
10   4464
11   4320
12   4320

In [126]:
#2. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라
target = df[df['Month'] == 3]
target['hour'] = target['DateTime'].dt.hour
target.groupby("hour").mean()['Temperature'].sort_values().head(1)

hour
7    11.506613
Name: Temperature, dtype: float64

In [127]:
#3. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라
target = df[df['Month'] == 3]
target['hour'] = target['DateTime'].dt.hour
target.groupby("hour").mean()['Temperature'].sort_values(ascending=False).head(1)

hour
15    18.393602
Name: Temperature, dtype: float64

In [132]:
#4. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 
# value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라
target_col = df.columns[6:8]
df[df[target_col[0]]>df[target_col[1]]]['Humidity'].mean()

68.23624448055094

In [133]:
#5. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라
target_col = df.columns[6:9]
df[target_col].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [137]:
#6. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라
df['Hour'] = df['DateTime'].dt.hour
np.sqrt(df[(df['Month']==6) & (df['Hour']==12)]['Temperature'].var())

2.049941782795103

In [138]:
#7. 6월 데이터중 12시의 Temperature의 분산을 구하여라
df['Hour'] = df['DateTime'].dt.hour
df[(df['Month']==6) & (df['Hour']==12)]['Temperature'].var()

4.202261312849164

In [142]:
#8. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 
# 4번째 행의 Humidity 값은?
df[df['Temperature'] > df['Temperature'].mean()].sort_values("Temperature").iloc[3]['Humidity']

87.9

In [143]:
#9. Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를
# Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?
df[df['Temperature'] > df['Temperature'].median()].sort_values("Temperature").iloc[3]['Humidity']

65.97